---
import { Image } from "astro:assets";
import codepen from "../assets/img/codepen.svg"
import github from "../assets/img/github.svg"
import linkedin from "../assets/img/linkedin.svg"
import facebook from "../assets/img/facebook.svg"
import instagram from "../assets/img/instagram.svg"
---

<footer>
  <ul class="redes-sociais">
    <li>
      <a href="https://codepen.io/lefialho/" title="Codepen" target="_blank">
        <Image format="svg" src={codepen} alt="icone do Codepen">
      </a>
    </li>
    <li>
      <a href="https://github.com/lefialho/" title="Github" target="_blank">
        <Image format="svg" src={github} alt="icone do Github">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/leandro-fialho-888666103" title="Linkedin" target="_blank">
        <Image format="svg" src={linkedin} alt="icone do Linkedin">
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/Lefialho13" title="Facebook" target="_blank">
        <Image format="svg" src={facebook} alt="icone do Facebook">
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/leandro_fialho13" title="Instagram" target="_blank">
        <Image format="svg" src={instagram} alt="icone do Instagram">
      </a>
    </li>
  </ul>
</footer>

<style lang="scss">
  footer {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 768px) {
      justify-content: center;
    }

    .redes-sociais {
      display: flex;
      gap: .5rem;

      a {
        display: grid;
        place-content: center;
        border: 1px solid var(--secondary-color-hover);
        border-radius: 50%;
        padding: .5rem;

        &:hover {
          background-color: var(--primary-color-hover);
        }
      }
    }
  }
</style>