---
import components from "../../assets/img/carousel/components.jpg";
import games from "../../assets/img/carousel/games.jpg";
import cadastro from "../../assets/img/carousel/cadastro.jpg";
import littleInvest from "../../assets/img/carousel/little-invest.jpg";
import CarouselItem from "./CarouselItem.astro";

const itemsCarousel: {
  title: string;
  text: string;
  img: ImageMetadata;
  alt: string;
  link: string;
  tecnologias: string;
  tag1: string;
  tag2?: string;
}[] = [
  {
    title: "Web components",
    text: "Projeto de componentes para web, com o objetivo aperfeiçoar os estudos de JavaScript e CSS puros, sem uso de libs e frameworks.",
    img: components,
    alt: "Web components",
    link: "https://leandrofialho.com/web-components/",
    tecnologias:
      "HTML - CSS - JavaScript",
    tag1: "JavaScript",
  },
  {
    title: "Games favoritos",
    text: "Aplicação web de uma tabela de games desenvolvida para estudos do React. É feito uma leitura de dados e os componentes são montados de maneira dinâmica.",
    img: games,
    alt: "Aplicação web - games favoritos",
    link: "https://games-favoritos.vercel.app/",
    tecnologias: "HTML - CSS - JavaScript - React",
    tag1: "React",
  },
  {
    title: "Cadastro de vídeos e conteúdos",
    text: "App para cadastro de vídeos e conteúdos, desenvolvido no curso Ignite lab da Rocketseat, com o objetivo de treinar os fundamentos de React e Tailwind.",
    img: cadastro,
    alt: "Aplicação web - Cadastro de vídeos e conteúdos",
    link: "https://event-platform-three-puce.vercel.app/",
    tecnologias: "HTML - CSS - JavaScript - React",
    tag1: "React",
  },
  {
    title: "Little Invest",
    text: "Página de site desenvolvida para treinar as habilidades de criação de interface front-end, utilizando as técnicas mais modernas de estrutura de layout CSS como o CSS-Grid e flexbox.",
    img: littleInvest,
    alt: "Aplicação web - games favoritos",
    link: "https://leandrofialho.com/littleinvest/app/index.html",
    tecnologias: "HTML - CSS - JavaScript - PUG",
    tag1: "CSS",
  },
];
---

<div class="swiper-wrapper">
  {
    itemsCarousel.map(
      ({ title, text, img, alt, link, tecnologias, tag1, tag2 }) => (
        <CarouselItem
          title={title}
          text={text}
          img={img}
          alt={alt}
          link={link}
          tecnologias={tecnologias}
          tag1={tag1}
          tag2={tag2}
        />
      )
    )
  }
</div>
