---
import CarouselItem from "./CarouselItem.astro";
import prodoctor from "../../assets/img/carousel/prodoctor.jpg";
import cloud from "../../assets/img/carousel/cloud.jpg";
import sislame from "../../assets/img/carousel/sislame.jpg";
import gdg from "../../assets/img/carousel/gdg.jpg";

const itemsCarousel: {
  title: string;
  text: string;
  img: ImageMetadata;
  alt: string;
  link: string;
  tecnologias: string;
  tag1: string;
  tag2?: string;
}[] = [
  {
    title: "Site da ProDoctor",
    text: "Site feito para a ProDoctor, com o intuito de substituir o site antigo por outro com design mais limpo e atual. Além do novo visual, foi refeito o código , utilizando novas tecnologias JavaScript, trazendo melhorias de performance acessibilidade e velocidade.",
    img: prodoctor,
    alt: "Site da prodoctor",
    link: "https://prodoctor.net",
    tecnologias: "HTML - CSS - JavaScript - Astro build - Github - Figma - UX/UI design.",
    tag1: "Astro build",
    tag2: "Figma"
  },
  {
    title: "App ProDoctor Cloud",
    text: "Participação na criação do frontend e também do design UX/UI do aplicativo ProDoctor Cloud.",
    img: cloud,
    alt: "Aplicativo ProDoctor Cloud",
    link: "https://prodoctor.net/cloud",
    tecnologias: "HTML - CSS - JavaScript - React - Github - Figma - UX/UI design",
    tag1: "JavaScript",
    tag2: "Figma"
  },
  {
    title: "SiSLAME",
    text: "Site de apresentação do software SisLAME que é utilizado para gestão e gerenciamento de escolas públicas. Feito para o CAEd.",
    img: sislame,
    alt: "Site do SiSLAME",
    link: "https://sislamecaed.caedufjf.net/index.html",
    tecnologias: "HTML - CSS - JavaScript - Bootstrap",
    tag1: "Bootstrap",
  },
  {
    title: "GDG Juiz de Fora",
    text: "Participação na criação do design UI/UX e também na codificação frontend do site GDG-JF, (Google developers Group) de Juiz de Fora.",
    img: gdg,
    alt: "Site do GDG JF",
    link: "https://gdgjf.github.io/",
    tecnologias: "HTML - CSS - JavaScript",
    tag1: "JavaScript",
    tag2: "Figma"
  },
];
---

<div class="swiper-wrapper">
  {
    itemsCarousel.map(({ title, text, img, alt, link, tecnologias, tag1, tag2 }) => (
      <CarouselItem
        title={title}
        text={text}
        img={img}
        alt={alt}
        link={link}
        tecnologias={tecnologias}
        tag1={tag1}
        tag2={tag2}
      />
    ))
  }
</div>

